/* reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/* 1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông, ...) */

#main{

}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46.5px;
    background-color: black;   
    z-index: 1;
}

#nav, .subnav{
    list-style-type: none;
}

#nav{
    display: inline-block;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: white;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;

}
#nav > li:hover > a,
#nav .subnav li:hover a{
    background-color: #ccc;
    color: black;
}

#nav .subnav{
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
}

#nav .subnav a{
    color: black;
    padding: 0 16px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon{
    color: white;
    font-size: 20px;
    line-height: 46.5px;
    
}

#slider{
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url('/w3_band/assets/img/slider/slider1.jpg') top center / cover no-repeat;
    
}

.text-content{
    position: absolute;
    color: #fff;
    bottom: 47px;
    /* 
    Cách 1: 
    left: 50%;
    transform: translateX(-50%); 
    Cách 2: width: 100%; 
    Cách 3:  
    left: 0px;
    right:0px;*/
    width: 100%;
    text-align: center;
}

.text-heading{
    font-weight: 100;
    font-size: 36px;
}

.text-description{
    margin-top: 25px;
    font-size: 22.5px;
    
}

#content{

}

#footer{

}
